<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>D:\ZeroBraneStudio\bin\lua.exe</StartProgram>
    <StartArguments>F:\github\luadebug-win.git\trunk\luadebug\functionReturnCount.lua</StartArguments>
    <StartWorkingDirectory>F:\github\luadebug-win.git\trunk\luadebug</StartWorkingDirectory>
  </propertyGroup>
</Project>